@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;700&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --white: hsl(0, 0%, 98%); 
    --Almost_Black: hsl(0, 0%, 8%);
    --Medium_Gray: hsl(0, 0%, 41%);
    --drop_shadow:hsl(0, 0%, 41%,0.2);
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    max-width: 1440px;
    font-family: Epilogue;
    font-size: 18px;
    background: var(--white);
    box-sizing: border-box;   
}

.navbar {
    display: flex;
    height: 5vh;
    padding: 3vh 4vw;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    color: var(--Medium_Gray);
    transition: 500ms;
}

.nav_content {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.nav_content>p:hover , .login_btn:hover , .register_btn:hover{
    color: var(--Almost_Black);
    cursor:pointer;
    border-color: var(--Almost_Black);
}
.login_btn {
    padding-right: 2vw;
}

.register_btn {
    background: var(--white);
    padding: 1.5vh 1.5vw;
    border: var(--Medium_Gray) solid 2px;
    border-radius: 10px;
    font-family: Epilogue;
    font-weight: 500;
    font-size: 1rem;
    color: var(--Medium_Gray);
}

.CTA-button {
    padding: 1.5vh 1.5vw;
    font-weight: 700;
    color: var(--white);
    background: var(--Almost_Black);
    border-radius: 10px;
    border: var(--Almost_Black) solid 1px;
    font-size: 1rem;
    transition: 100ms;
}
.CTA-button:hover{
    background-color: var(--white);
    border: var(--Almost_Black) solid 1px;
    color:var(--Almost_Black);
    cursor: pointer;
}

.logo {
    height: 4vh;
    margin-right: 2vw;
}

.main_body {
    width: 100%;
    height: 83%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-around;
    transition: 500ms ease-in;
    
}
.text_card{
    width: 50%;
    padding: 10% 0 0 13%;
    box-sizing: border-box;
}
.text_box{
    width: 100%;
    height: 100%;
}

.text_box>h1 {
    font-size: 4em;
    padding-bottom: 5%;
    width: max-content;
    color: var(--Almost_Black);
}

.text_box > p {
    color: var(--Medium_Gray);
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 10%;
}
.client_row{
    width:32%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 2.5vh;
    position: absolute;
    bottom: 1%;
}
.image_card{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding:2%;
    padding-bottom: 0%;
}
.image_card >  img {
    height: 100%;
    
}
.attribution{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-5%);
}
.name:hover{
    font-size: 15px;
    font-weight: 700;
    color: #f05b55;

}
.burgerButton.is-active{
    display: none;
}
.crossButton{
    display: none;
    z-index: 2;
    
}
.crossButton.is-active{
    display: block;
}
.dropdown-wrapper {
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}
.dropdown-wrapper.is-active {
    box-shadow: none;
    border-bottom: none;
    color: var(--Almost_Black);
}
.arrow{
    padding-left:.5vw;
    color: var(--Medium_Gray);
}

.dropdown-wrapper.is-active .arrow{
    transform: rotate(180deg);
    padding-right:.5vw;
    padding-left: 0;
    color: var(--Almost_Black);
}

.dropdown-wrapper.is-active .dropdown-list {
    max-height: 400px;
    width: max-content;
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#feature-dropdown-list{
 left: -30%;
}
.dropdown-list {
    /* Size & position */
    position: absolute;
    top:200%;
    /* Styles */
    background: white;
    border-radius: 10px;
    filter:drop-shadow(1px 1px 10px var(--drop_shadow));
    list-style: none;
    z-index: 1;
    width: max-content;
    transition:  0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
}
.dropdown-list li:hover  {
    color:var(--Almost_Black);
    cursor: pointer;
}


.dropdown-list li {
    display: block;
    text-decoration: none;
    color:var(--Medium_Gray);
    padding: 10px 0;
    transition: 0.3s ease-out;
}

.dropdown-list li p{
    display: inline;
    margin-left: 1vh;
}
.dropdown-list li:nth-of-type(2) p ,.dropdown-list li:nth-of-type(3) p {
    margin-left: calc(1vh + 5px);
}
.Hide{
  display:none;
}

@media (min-width:1445px) {
    body{
        margin: 0 auto;
    }
    .image_card{
        padding: 5%;
    }
    .client_row{
        bottom: 9%;
    }
    .text_box > h1{
        font-size: 4.5em;
    }
    .text_card{
        padding-top: 15%;

    }
    .register_btn{
        border-radius: 15px;
        padding: 1.2vh 1.2vw;
    }  

} 
@media (max-width:770px) {
        .m_hide {
        display: none;
    }
    .Hide{
        display:inline;
    }
    .main_body {
        flex-direction: column;
        height: 70%;
        max-width: 500px;
        margin: 0 auto;
    }
    .navbar{
        padding: 2vh;
    }
        .logo{
        display: block;
        height: 3.5vh;

    }
    .burgerButton{
        display: block;
    }

    .mobile_image {
        display: block;
        height: 50%;
        width: 100%;
    }
    .text_card{
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .text_box>h1 {
        font-size: 9vw;
        width: 100%;
    }
    .CTA-button{
        font-size: 1.2rem;
        padding: 1.54vh 5vw;
        border-radius: 18px;
        max-width: 400px;
    }
    .client_row{
        justify-content: space-evenly;
        width: 100%;
        bottom: -10%;
        max-width: 500px;
    }
    .client_row > img {
        width: 20vw;
    }
    .client_row > img:nth-child(2){
        width: 15vw;
        height: 3vh;
    }
    .sidebar { 
  position: fixed;
  top: 0;
  right:0;
  width: 100vw; /* to cover the whole screen */
  height: 100vh;
  padding: 0;  /* to override the default padding */
   /* half transparent background */
  display: none;
  z-index: 1; /* to be on top of any other elements */
  transition: right 0.3;
}
.sidebar.visible {
  display: block;
}
/*cover the whole screen and to detect user click on background */
.sidebar .blocker { 
  position: absolute;
  width: 100%;
  height: 100%;
  background:var(--Medium_Gray); 
  opacity: 55%;
}
/* user content */
.sidebar > .content {
  display: flex;
  padding:10vh 0 0 7vw;
  box-sizing: border-box;
  gap: 3.5vh;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background: #FFF;
  height: 100%;
  width: 65vw;
  right: -50%;  /*will be animated to left: 0, by animation */
  animation: slide 0.5s forwards;
}
.login_section{
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 50vw;
   gap: 3vh;
   box-sizing: border-box;
   padding-top: 3vh;
}
.register_btn{
    background: #FFF;
    border-radius: 17px;
}
.mobile-dropdown-wrapper {
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
    -webkit-tap-highlight-color: transparent;
}
.mobile-dropdown-wrapper.is-active {
    box-shadow: none;
    border-bottom: none;
    color: var(--Almost_Black);
}
.arrow{
    padding-left:.5vw;
    color: var(--Medium_Gray);
    transition: all 0.5s;
}

.mobile-dropdown-wrapper.is-active .arrow{
    transform: rotate(180deg);
    padding-right:.5vw;
    padding-left: 0;
    color: var(--Almost_Black);
}

.mobile-dropdown-wrapper.is-active .mobile-dropdown-list {
    width: max-content;
    padding: 2vh 10% 0%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.mobile-dropdown-wrapper .mobile-dropdown-list {
    display:none;
    width: max-content;
    transition: 0.3s ease-out;
    overflow: hidden;
}
.mobile-dropdown-list li:hover  {
    color:var(--Almost_Black);
    cursor: pointer;
}


.mobile-dropdown-list li {
    display: block;
    text-decoration: none;
    color:var(--Medium_Gray);
    padding: 10px 0;
    transition: 0.3s ease-out;
}

.mobile-dropdown-list li p{
    display: inline;
    margin-left: 1vh;
}
.mobile-dropdown-list li:nth-of-type(2) p ,.dropdown-list li:nth-of-type(3) p {
    margin-left: calc(1vh + 5px);
}
@keyframes slide {
  100% { right: 0; }
}
}